body {
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
}

/* advice-id {
    background-color:hsl(217, 19%, 24%);
    color: white;
    margin-left: 50px; margin-right: 50px;
    padding: 70px;
    border-radius: 8px;
    text-align: center;
} */

#container {
    background-color:hsl(217, 19%, 24%);
    color: white;
    margin-left: 50px; margin-right: 50px;
    padding: 70px;
    border-radius: 8px;
    text-align: center;
}

.button-style {
    height: 42px;
    width: 42px;
    border-radius: 30px;
    margin-top: -20px;
    margin-left: auto; margin-right: auto;
}

.button-style button {
    background-color: hsl(150, 100%, 66%);
    width: 42px;
    height: 42px;
    border-radius: 30px;
    border: none;
}

.button-style:hover {
    opacity: .8;
}


#container p {
    color: white;
}

footer { 
    font-size: 11px; text-align: center;
    color: hsl(228, 45%, 44%); 
    padding: 20px;
}