body {
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
}

.grid-box {
    display: grid;
}

.grid-box > div {
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 30px;
  }
  
#box {
    background-color:hsl(217, 19%, 24%);
    color: white;
    margin-left: 300px; margin-right: 300px;
    padding: 55px;
    border-radius: 8px;
    text-align: center;
    box-shadow:5px 5px 20px rgba(0,0,0,0.2);
    }
    
#advice-id {
    background-color: rgb(105, 239, 239);
    color: white;
}

#advice-word {
    background-color:hsl(217, 19%, 24%);
    color: white;
}

.button-style {
    height: 42px;
    width: 42px;
    margin-top: -23px;
    margin-left: auto; margin-right: auto;
}

.button-style button {
    background-color: hsl(150, 100%, 66%);
    width: 45px;
    height: 45px;
    border-radius: 25px;
    border: none;
}

.dice {
    max-width: 60%;
    margin-top: 2px;
}

.button-style:hover {
    opacity: .8;
}


#container p {
    color: white;
}

footer { 
    color: hsl(228, 45%, 44%); 
    color: white;
    font-size: 12px; 
    text-align: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
}